.fry-back {
  background-image: url(../images/french_fry_bg.png);
}

.title-header {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: rgb(251, 250, 250);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

#burger-pic {
  max-width: 250px;
  max-height: 250px;
}

body {
  background-color: rgb(251, 193, 170);
}

li {
  /* display: flex; */
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

#button-span {
  float: right;
}

.label {
  font-weight: bold;
}
