<li>
    {{burger_name}}

    <span id="button-span">
        <button class="rounded change-hunger button btn-success" data-id="{{id}}" data-hunger="{{devoured}}">
            {{#if devoured}}Eat this burger!{{else}}Order up another!{{/if}}
        </button>
    </span>

</li>